[2018-03-12 13:31] explodingcamera opened #1 "error when using gtx 1070"
Hi! I just found this linked on StackOverflow and this looks like a really cool project!
When I try to find an address, I sadly get this error:
[code]

I also tried the first version:
[code]
I'm currently rocking a gtx1070 + ryzen 7 1700X, I can test this with 2 rx480s later

[2018-03-12 22:00] johguse commented on #1
This has to do with the OpenCL local worksize that can be set via the -w parameter. It defaults to 64 which might not be a ideal value on all platforms. I've revised the code and added a new release that detects this error and abandons the target local worksize and lets the platform decide for itself what it thinks is best.

You can find the new version among the other releases.

I am however afra

[2018-03-14 20:28] #1 closed

[2018-04-01 04:06] rtohlsen opened #3 "Error in kernel queueing"
Love the project!

However, when I run it on my local machine with a GTX 1050 3gb, for release 1.11 I get the following error:

warning: local work size abandoned on GPU0
std::runtime_error - kernel queueing failed (res = -4)

any thoughts?

[2018-04-02 14:09] johguse commented on #3
How many devices are listed when running? Only the GTX 1050? No integrated graphics?

[2018-04-05 05:31] rtohlsen commented on #3
Excuse my typo, GTX 1060 3gb. It is the only GPU listed, no integrated graphics.
I made a dual-boot partition and tried it on linux ubuntu desktop, and... Same Error!

Not quire sure why it would be doing this... here is the full display:

Mode: leading
Devices:
	GPU0: GeForce GTX 1060 3GB, 3157000192 bytes available, 9 compute units (precompiled = yes)

Initializing OpenCL...
	Creating context...

[2018-04-05 18:34] johguse commented on #3
During the weekend I'll work on improving debug output and add a verbose switch to use increased output. Maybe that will help in narrowing down what could be going wrong.

The -4 error code corresponds to CL_MEM_OBJECT_ALLOCATION_FAILURE. I don't believe you're running out of memory, from what I can recall the program should use a little less than 1GB of memory so there's probably something else t

[2018-04-06 15:18] rtohlsen commented on #3
Awesome, thanks! You rock!

[2018-04-10 06:01] rtohlsen commented on #3
Any progress?

[2018-05-05 07:58] memclutter commented on #3
Any progress++?

[2018-05-05 07:59] memclutter commented on #3
Same problem on my GTX 1050 mobile with 2gb videomemory and 6gb ram. OS ubuntu 18.04

[2018-05-10 08:04] z2vg commented on #3
Please ..error
Mode: benchmark
Devices:
        GPU0: GeForce GTX 550 Ti, 1073741824 bytes avail
recompiled = yes)

Initializing OpenCL...
        Creating context...OK
        Loading kernel from binary...OK
        Building program...OK

std::runtime_error - kernel queueing failed (res = -54)

[2018-05-10 17:27] johguse commented on #3
I'm sorry I've been unavailable. I looked into this today and I realized I was wrong in that it uses just a little less than 1 GB. It's actually using at least 2.47 GB. I did however manage to bring it down to about 1GB. Hopefully this means that @rtohlsen and @memclutter can run it now. Please let me know if it works!

As for you @z2vg, I'm sorry to say that the 1GB memory size of the 550 Ti won'

[2018-05-19 23:15] #3 closed

[2018-06-12 01:38] kernelsuser opened #4 "Only showing first result in WIN10 command prompt"
Hi there, this seems like a simple problem, not sure if I'm doing something wrong, when I run profanity in Windows 10 command prompt using for instance: profanity --matching aXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX I only ever get 1 result while hashing at 60M hashes. The one result I get also always shows up before the speed starts getting displayed.

If feels like there is a line feed missing af

[2018-06-12 02:12] kernelsuser commented on #4
Tried to download the source to have a look at fixing the issue myself, but could not build due to CL/cl.h not being included in the repo ?

[2018-06-12 10:15] johguse commented on #4
The resulting public key is scored based on the mode (in this case matching) and the program will never show two public keys with the same score, it always makes sure that the next result it shows is even better!

In the case of the matching mode it can't get any better than matching all the characters (in this case one) so it'll run forever only ever displaying one result.

This behavior is not w

[2018-06-12 10:30] kernelsuser commented on #4
Ahh, thanks for the explanation, yes, that does make much more sense now!
No, wasn't looking for a million wallets starting with 'a', just wanted to prove whether I could actually see more than one result, I figured that should spit out a few million results :)

That is great, will play a bit more to see what I can create!

In the readme you mention that it should take 60 odd seconds to match 8 ch

[2018-06-12 10:37] johguse commented on #4
It's all probability and the number given is the average expected time. Every character in an address can be one out of 16 digits (0-f). For eight characters there's 16^8 combinations. If you're running 60 MH/s the average expected time is calculated as (16^8)/(60 * 10^6) ~= 71 seconds on average with that speed.

It can take more or less time, but on average it should be 71 seconds with 60MH/s. T

[2018-06-12 10:43] kernelsuser commented on #4
Now that is interesting because I had it running for hours this morning trying to get a 6 character match and never got a single result. I also now remember that I tried the match with a single starting 'a' and sometimes also didn't get a result. I will try to recreate the problem now and upload a screenshot of the command prompt.

[2018-06-12 10:51] johguse commented on #4
That's very much a problem I'd like to fix.

Make sure that you use lowercase and omit the leading "0x".

[2018-06-12 10:57] kernelsuser commented on #4
Ah bugger, yes, that explains it, I was trying to match on a pattern starting with a capital letter ! Will go try it now with lowercase pattern

[2018-06-12 11:01] kernelsuser commented on #4
Yep, working great now. Thanks for answering all my noob questions!

[2018-06-12 11:01] #4 closed

[2018-06-28 13:22] admbe opened #5 ""warning: local work size abandoned on GPU1""
I have tried using v1.21 on two different systems with the same results. One system has a GTX 1060, the other 1070Ti

If I don't issue the -I <value> it hangs after "Initializing devices..." for 10+ minutes. I have to issue a low number for it to pass this, such as profanity.exe --skip GPU0 -I 900 --matching c1. If I do that, I get "warning: local work size abandoned on GPU1"

I'll get a status of

[2018-07-01 15:36] johguse commented on #5
Sorry for the late response.

You have to use lowercase hexadecimal characters. So `--matching C1` should be `--matching c1`. This is not documented anywhere. I've been meaning to make it case insensitive for some time now as others have had problems with it in the past. It's an easy fix I just haven't gotten around to it.

I almost always abandon the local work size on nVidia cards, nothing to wo

[2018-07-01 15:52] admbe commented on #5
Sweet, that worked simply by switching to lowercase. This thing is fast! I still need to give a low number for "-I", not 100% sure of the implications of that but I was able to get what I need very quickly

Thanks

[2018-07-01 15:52] #5 closed

[2018-07-03 06:48] komyaka opened #6 "How MH/s?"
RUSSIAN: для тестирования я запустил на 1050ti. Решил замерить скорость. Но выводимые значения не совпадают с реальностью.
G.Translate: for testing I ran on 1050ti. Decided to measure the speed. But the displayed values do not coincide with reality.

![default](https://user-images.githubusercontent.com/34284729/42202727-1b8cf734-7ea5-11e8-868d-16eb2a52dbb7.png)

69 - 9 = 60 seconds

c1298 - c0ef1

[2018-07-03 17:10] johguse commented on #6
0xFFFFFFFF <- Eight (8) F = 16^8 = 4294967296 combinations has to be done on average before hit.

With 8.8 million combinations per second average time is: 4294967296 / 8800000 = 488 seconds on average.

69 seconds is a very good time.
----
All times are probabilistic. You might get faster result, you might get slower result. On average for 8.8MH/s should be 488 seconds.

Also, the time displayed

[2018-07-03 17:44] johguse commented on #6
Нет извините. Я использовал программное обеспечение для перевода. : /

Теперь появилась новая версия, включающая время инициализации: https://github.com/johguse/profanity/releases/tag/v1.22

[2018-07-03 17:47] komyak commented on #6
Спасибо! Быстро реагируете на возникшие "проблемы")

Thank you! Quickly react to the emerging "problem")

[2018-07-03 17:50] komyak commented on #6
Пришлите пожалуйста свою почту. Есть вопросы в рамках проекта.

Please send us your email. There are issues in the framework of the project.
03 июл 2018 г. 20:44 пользователь "johguse" <notifications@github.com>
написал:

[2018-07-03 17:52] johguse commented on #6
My initialization time on GTX 1070: 6 seconds

If you have too much initialization time then start program with -I 8200 or -I 4100 or lower. You might get slower speed but initialization will be faster.

-----

Мое время инициализации на GTX 1070: 6 секунд

Если у вас слишком много времени инициализации, тогда запустите программу с -I 8200 или -I 4100 или ниже. Вы можете получить более медленную с

[2018-07-03 18:56] komyak commented on #6
The speed is good. I'll try to connect Rig 8*rx580, later will write how it will work.

[2018-07-03 19:05] SuperXMR commented on #6
![default](https://user-images.githubusercontent.com/34284729/42239640-2e9a26d6-7f0d-11e8-847c-f6d73a88921c.png)

Error... Stats bag...

[2018-07-03 19:08] SuperXMR commented on #6
And I think it's worth adding a parameter: -o output.txt

[2018-07-21 19:01] komyak commented on #6
Hello

[2018-08-21 10:18] TGM opened #7 "[FEATURE] Start - end range"
Hello,

Can you implement a start-end range for the given private key?

Example:

-r 1-10000
-r fff - fffffffffffff

[2018-08-21 10:20] TGM opened #8 "[FEATURE] Match against a given list"
Hello,
Can you implement a match against a given list?

Example.

address.txt
0x0000000000000000000000000000000000000001
0x0000000000000000000000000000000000000002

-a address.txt

Leading zero should be optional

[2018-10-30 09:19] k06a opened #9 "Strange std::runtime_error - kernel queueing failed during initilization"
First time I got infinite waiting, so restarted and got this error.

[code]
[code]

[2018-10-30 09:32] k06a commented on #9
Even using 1x40 initialization time is infinite(?):
[code]
[code]

[2018-10-30 11:32] johguse commented on #9
Try skipping your integrated GPU, add `-s 0` to command line arguments and see if that works.

[2018-10-30 11:42] komyaka commented on #9
johguse, a you email?
Какой твой email? Или добавь его в профиль, напишу

[2018-10-30 11:49] k06a commented on #9
@johguse same infinitely long for both `-s 0` and `-s 1` with also `-I 16 -i 1`.

[2018-11-14 06:14] k06a commented on #9
Any ideas?

[2018-11-15 02:20] pranavburnwal opened #11 "Any instructions on how compile on macOS?"

[2018-11-15 05:34] k06a commented on #11
Made a PR with fixes for macOS, but still have problems with infinite delay: https://github.com/johguse/profanity/pull/10

[2018-11-17 21:41] wjmelements opened #12 "[Intent to Implement] Vanity Contract Addresses"
I intend to add a feature that would allow you to specify that the address you are targeting is the contract created by the private key's zeroth transaction. This would be equivalent to the `--contract` feature in https://github.com/MyEtherWallet/VanityEth, and is useful for mining vanity addresses recommended by [EIP-1167](https://eips.ethereum.org/EIPS/eip-1167).

[2018-11-17 22:36] wjmelements commented on #9
I am seeing the same thing.

When I remove the cache file it gets stuck instead.

[code]

[code]

[2018-11-17 22:46] k06a commented on #12
Here is optimized version without RLP encoder: https://ethereum.stackexchange.com/a/47083/3032

[code]

[2018-11-17 22:47] wjmelements commented on #12
Thanks!

[2018-11-17 22:52] k06a commented on #12
Also please think of CREATE2 instruction support: https://github.com/ethereum/EIPs/blob/1d506308a84f0b766a397d04a6d9a08f295a04c8/EIPS/eip-1014.md

[2018-11-19 23:45] wjmelements commented on #12
Completed via https://github.com/johguse/profanity/pull/15

[2018-11-19 23:45] #12 closed

[2018-11-19 23:50] johguse commented on #9
It's a long shot but does the same error occur when compiling without any optimizations? I.e, try removing the -O2 flag from the Makefile. I'll see if I can get a hold of similar hardware to try and reproduce the error on to make troubleshooting easier.

[2018-11-26 02:39] pranavburnwal commented on #11
Hi @k06a

Got it to compile! Thanks for that, got many warnings for depreciated. Total 28 + 18 warning, let me know if you need logs.

Meanwhile, when I try to run on Mojave 10.14.1, I get

[code]

Let me know if I can help anyway.

Pranav

[2018-12-12 11:18] Swader commented on #11
Same error here. @k06a @johguse any ideas?

[2019-01-15 07:34] destansi opened #17 "did not start"
windows 10 pro didn't work well and reinstalled. The black screen is coming and closing. rx580 video card drivers are up to date. What is missing? ethereum miner 30-32 mhs. Thanks for help.

[2019-02-13 00:44] hodlbank opened #18 "New binary build for Windows"
There are some improvements since latest binary release, e.g. --contract option support #15.
Please make a new binary release for Windows with those features.

[2019-02-13 23:24] johguse commented on #17
profanity is a terminal program, you run it through the terminal and that's also how you supply it with the parameters it needs to run. When you run it like a normal desktop program it will just print the help and close immediately as you've observed.

[2019-02-13 23:24] #17 closed

[2019-05-09 20:17] k06a commented on #11
@pranavburnwal same problem for me.

[2019-05-09 20:23] k06a commented on #11
@Swader @pranavburnwal fixed the issue above and got new problem. Got stuck on this:
[code]
[code]

[2019-05-09 20:36] k06a commented on #11
Sampling:
[code]

[2019-05-09 20:57] Jura-Z commented on #11
If you want to use GPGPU on macOS, unfortunately, you have to use Metal. Apple deprecated OpenCL and OpenGL since macOS 10.14

[2019-05-14 08:27] zzh1996 opened #20 "Score can never be 40"
https://github.com/johguse/profanity/blob/9f9341028fab22efdc90c0a0be89251160f96e65/Dispatcher.cpp#L320

The score is 39 at maximum, which is buggy if you want an address with score 40.

For example, when you run`./profanity.x64 --numbers` to generate all-digits addresses, you can get an address with 39 digits (score = 39) easily. But you can never get score 40.

[2019-05-21 15:05] #11 closed

[2019-05-21 15:50] k06a commented on #11
@pranavburnwal is this problem solved?

[2019-05-22 13:53] pranavburnwal commented on #11
No @k06a , I was not able to. This more like a side test so I just left it.
If anything is fixed I would like o try again.

[2019-06-08 08:02] ctrlcctrlv commented on #20
An address with score 40 means Ethereum's encryption is basically broken and this tool is pointless. A score of 40 is, for all intents and purposes, impossible.

[2019-06-08 12:32] zzh1996 commented on #20
No! An address with score 40 does not mean all characters are fixed, but they are in a specific range. I can get an address with 39 **digits** (score = 39) easily. Please show me how can I get an address with 40 digits (0-9).

[2019-06-08 12:38] ctrlcctrlv commented on #20
Oh, yeah, you're right, I guess it is possible for some workloads. Submit a PR I guess :-)

[2019-07-07 19:55] dukei commented on #18
So what is about a build?

[2019-07-08 15:39] dukei commented on #18
I have managed to build it in Visual Studio 2019
You can find the solution here: https://github.com/dukei/profanity/tree/dukei-develop

Here is the latest build (with fixed matching by mask)
https://github.com/dukei/profanity/releases/tag/1.23d, enjoy

[2019-07-17 19:48] johguse commented on #20
It's fixed!

[2019-07-17 19:48] #20 closed

[2019-07-17 19:49] johguse commented on #18
Sorry for not updating this project for so long, I've been lazy. Worked a bit on it over the last couple of days now and merged in all pull requests and made some other fixed. Major improvement has been done on nVidia card. My GTX 1070 went from 26MH/s to 106MH/s.

[2019-07-17 19:49] #18 closed

[2019-07-17 19:51] #6 closed

[2019-07-17 19:57] johguse commented on #8
No. It doesn't really serve any purpose unless you're trying to brute-force private keys belonging to other people. The chances that you'll succeed in doing this is vanishingly small. There are 2^256 combinations of private keys, on average you need to search 2^255 combinations before finding what you're looking for. That's a very very very very very big number.

If you're looking for certain patt

[2019-07-17 19:57] #8 closed

[2019-07-17 20:02] johguse commented on #7
No. There's no need for the function of the program to be able to distribute the search space between invocations on the program, either on the same computer or between many computers on a network.

Even for many cards distributed over many computers the search space is still so huuuuuuuuge that unless you're running ridiculously many cards at the same time there's basically no chance that their s

[2019-07-17 20:02] #7 closed

[2019-07-17 20:03] johguse commented on #9
I believe this problem might be fixed in version 1.3. I didn't realize I had to manually flush the command queue in OpenCL when I wasn't issuing blocking commands.

Please let me know if the new version works for you.

[2019-07-17 20:27] MysticRyuujin opened #22 "Crash on benchmark - no output"
Downloaded the release, tried to run it, got this:

[code]

[2019-07-17 20:46] johguse commented on #22
Hm. I wonder if this might have something to do with the fact that you're running both AMD and nVidia on your computer. Could you try adding either "-s 0" or "-s 1"? This skips the first or the second card and we can see if it can run on either of them at a time or not.

[2019-07-17 23:24] MysticRyuujin commented on #22
Both `-s 0` and `-s 1` work as expected. So it's just when trying to run with both.

[2019-07-17 23:56] johguse commented on #22
Glad to hear that. For the time being if you want to use both cards just launch two instances of the program with the same settings, one for each card. I'll see if I can get this fixed in the coming days.

[2019-07-18 00:14] johguse commented on #22
Oh, by the way. What performance do you get on your GTX 1070 with the default settings out of the box? What's the hashrate for the benchmark?

[2019-07-18 02:35] MysticRyuujin commented on #22
Is there a reproducible benchmark? The `--benchmark` command never seems to stop. It fluctuates a lot low of 60, high of 90, generally sitting in the ~70 MH/s range

[2019-07-19 11:09] dukei opened #23 "contract address generation is broken in 1.3"
The generation becomes blazingly fast on nvidia! Unfortunatlely contract addresses are broken, see screenshot.

![image](https://user-images.githubusercontent.com/1279262/61531195-d0cfaf00-aa2e-11e9-8786-6109b968e769.png)

[2019-07-21 12:08] johguse commented on #23
Just released new version, can you confirm that it works?

[2019-07-21 19:48] dukei commented on #23
It seems to be fine now. Thank you :)

[2019-07-21 19:48] #23 closed

[2019-08-21 06:09] hatgit opened #24 "Can the linux version work on mac?"
I've tried to run some of the Profanity .cpp files using g++ from the terminal on Mac OS but encountered errors. Is there a way to run this code on a Mac Book Pro?

[2019-08-22 11:11] johguse commented on #24
I don't have a Mac nor am I particularly familiar with it, but I think your best shot is to try and compile using the included Makefile. Just run `make` in the profanity folder.

[2019-08-23 07:06] hatgit commented on #24
Thanks @johguse for the help, I tired running `make` and although the output file `.o` where created, I got the following error with 18 warnings (and then I proceeded to try to open with `g++`  the `profanity.o` file which I also pasted the output from that command further below :

[code]

**Errors from running g++ profanity.o**

[code]

[2019-08-23 15:54] johguse commented on #24
Okay. I think the make command was successful. Do you now have a profanity.x64 file in your folder? You can run it via `./profanity.x64`. If you get permission errors you'll probably have to do `chmod +x profanity.x64` first.

[2019-08-25 18:06] hatgit commented on #24
Thanks again, great thing is that worked! Even though there were a few errors, it seems the program is running but exits with an `abort trap: 6` code when it tries to initialize devices (and starts loading 0% then 10% but then aborts), even after reducing the inverse-multiple by half to 8192 and then 4000, then 2000, (and running the chmod +x command). The example parameters I was trying to pass w

[2019-08-26 08:46] su314ka commented on #24
Why do you reduce i and I? On windows, when I set your values the speed drops by half.

[2019-08-26 11:32] johguse commented on #24
He had to reduce them to get it running on his computer without it crashing with `abort trap: 6`. The amount of video memory used is around `K * i * I` bytes where `K` is a constant with a value around 64 bytes. With `-i=128` and `-I=1000` it ends up at around 8 megabytes which is not much at all.

I would be surprised if the limitation he's encountering is due to insufficient video memory, even o

[2019-08-26 19:53] hatgit commented on #24
On a mid-2014 Macbook Pro running a `Intel Iris Pro 1536 MB` video card, also while the program is running/searching for addresses it shows  `warning: local work size abandoned on GPU0` but  on the next line `Total: 615.000 KH/s - GPU0 615.000`( I am guessing these are 615 kilo hashes per sec).

[2019-09-10 12:01] hatgit commented on #24
**Question**: What would be the best way to write a command to generate an address with 10 leading 0 hex characters? I was using this but no results after a full week: `./profanity.x64 --benchmark  --matching 0000000000XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -i 192 -I 1280 `

p.s. I also noticed opencl caches leftover in the directory folder which I deleted,.

[2019-09-10 13:00] k06a commented on #24
@hatgit you did it on Mac? Is it working for shorter patterns?

[2019-09-11 21:42] johguse commented on #24
@hatgit You're supplying two modes, benchmark and matching. In this case benchmark takes precedence. Benchmark does nothing but just run and run and run and is only a dummy mode for me to evaluate performance. Remove it and you'll find your matches.

The expected time to find a match of length 10 is 16^10 / (10^6 * hashRateInMH) seconds. So if you have a speed of 100MH/s it should take ~3 hours. 5

[2019-09-29 14:08] avik24 commented on #24
# @johguse Good day! Could i contact with you somehow? i've send an e-mail but no response(

[2019-11-21 21:57] Arachnid opened #26 "[Feature] Support for CREATE2 address mining"
It'd be nice if it were possible to mine addresses for CREATE2. CREATE2 computes addresses based on `keccak256(0xff + creator_address + salt + keccak256(initcode))`, which means it doesn't require any ECDSA ops, which should make mining much faster. `salt` is always 32 bytes.

The command line could take the creator address and init code hash, and try salts.

I don't know openCL, but I'd happily p

[2019-11-25 12:39] janus commented on #26
@Arachnid
Which function or what should one do for you here?

[2019-11-25 12:39] janus commented on #26
@Arachnid
Which function or what should one do for you here?

[2019-11-25 15:37] johguse commented on #26
@Arachnid I'll have a look at this. Would you prefer a CUDA application if it's faster? Are you running on nVidia hardware?

[2019-11-26 01:21] johguse commented on #26
@Arachnid I've finished a working program. I've tested several modes and verified the results in a small Python script and everything seems to be working. You can find it here: https://github.com/johguse/ERADICATE2

[2019-11-26 01:56] Arachnid commented on #26
Amazing job! It's over 4 times the speed compared to generating ECDSA keypairs. If you have any ideas for further performance optimizations, let me know!

[2019-11-26 02:08] johguse commented on #26
I think it's possible to iimprove performance by a few percent. I'll give it a go tomorrow!

[2019-11-26 02:22] Arachnid commented on #26
One slight problem: "Init code must be shorter than 199 characters". A nonstarter for proper contracts! Maybe you could make it take the hash instead?

[2019-11-26 02:30] johguse commented on #26
Yes. Taking the hash via command line is definitely the easiest but I'll look into if I can accept the init code from a file and fix the limit. The 199 limit is because I stripped the the Keccak implementation I'm using down to its bare bones removing all the code for accepting arbitrary-length input data so I just need to reintroduce that logic and it should be fine.

[2019-11-26 02:31] Arachnid commented on #26
Alternately, you could hash it in C, before passing it to the library?

[2019-11-26 02:32] Arachnid commented on #26
I only just saw your earlier question about CUDA. I am running on NVIDIA hardware. It's a bit late now, but would it be significantly faster in CUDA?

[2019-11-26 09:22] k06a commented on #26
@johguse any chance to see this functionality inside `profanity`?

[2019-11-26 12:32] johguse commented on #26
@Arachnid I did a quick and dirty test on CUDA and it seemed to be about maybe 1.5% faster but it was a very crude test but I'll explore it more tonight and get back to you!

[2019-11-26 22:39] johguse commented on #26
@Arachnid I've upgraded the above OpenCL version to support init codes of arbitrary lengths as well as reading them from files. I hash the init code in C before passing it to the GPU like you suggested. I most probably won't be able to finish CUDA version tonight but hopefully tomorrow. I would expect less than a 10% performance increase but it still seems worthwhile.

@k06a While I do reuse large

[2019-11-28 01:38] johguse commented on #26
@Arachnid My experiments with CUDA didn't yield any extra gains beyond what I'd already achieved in OpenCL but I did manage to improve on the Keccak code a bit. Almost 15% performance increase.

You can find the latest release here: https://github.com/johguse/ERADICATE2/releases/tag/v0.3

I don't think I'll be able to squeeze out that much more so I'll close this ticket in a day or two. I apprecia

[2019-12-11 18:58] #22 closed

[2020-04-29 20:53] k06a opened #27 "Private key not matches address on macOS"
[code]
[code]

But it seems these private keys are not matching vanity addresses.

[2020-04-30 07:32] k06a commented on #27
Only first PrivateKey works!

[2020-05-03 09:56] BarrowHill opened #28 "why it is often founds false positive matches"
Hi dear johguse, every time I run the program it founds not exactly what I want but a false positive results.
![profanity1](https://user-images.githubusercontent.com/40537204/80911005-8bbe0480-8d44-11ea-9f88-1fa23267f6e6.jpg)
the same unedequate results, every time, I run it for 2 days, for 1 hour, for 10 minutes -the same false results both with --matching 8071dbef07eefe7eXXXXXXXXXXXXXXXXXXXXXXXX

[2020-05-15 14:39] BarrowHill commented on #28
Private counting by program is incorrect, for example
1)--matching 0123456789
Time:     4s Score:  3 Private: 0x6e38a101268d598a4c2cdb20d382b21c9f4c5c790958a3943a537c2667ab9fb7 Address: 0x010e906789118491a8511408ecb3dc397c385f8e
  Time:     9s Score:  4 Private: 0x6e38a101268a77cb4c2cdb20d382b21c9f4c5c790958a3943a537c2667aba0d8 Address: 0x012345675f1dafea6b4bd789778388f785fd373a
Total: 45.412 MH/s

[2020-05-21 19:04] WyseNynja commented on #26
Any progress on this? I would really like to have contract addresses with lots of 0s that are managed from my existing hardware wallet.

[2020-05-26 14:27] k06a commented on #26
@johguse do you have single init and precompute keccak256 until salt or repeat these steps for every combination?

[2020-05-27 19:33] WyseNynja commented on #28
I think the "score" is the score in bytes, and not the score in characters. In hex, a byte is two characters.

[2020-06-26 17:07] m0ukd opened #29 "[Feature] Find checksum address?"
Hiya.

Is it possible to find checksum addresses (case sensitive)?
Like https://vanity-eth.tk/ does but with the ability to use GPU's rather than in the browser?

Thank you!

[2020-07-19 11:24] 10gic commented on #29
@m0ukd  It's not difficult to support checksum address. There is a similar project support this: https://github.com/10gic/vanitygen-plusplus

[2020-09-18 00:51] RB61 opened #30 "possible extension to load a list of prefixes"
Are you planning to add this option
-i inputfile: Get list of prefixes to search from specified file

similar to Vanitysearch ?

[2020-10-12 23:32] gkucmierz opened #31 "Problem on macos"
Should it work on my GPU?

[code]

[2020-10-13 00:18] gkucmierz commented on #31
I just skipped `NVIDIA GeForce GT 750M 2 GB` and lowered `-I` it seems to work now

[2020-10-19 20:13] gkucmierz opened #32 "Adding option --print-score"
I propose to add option Minimum Print Score which is minimum threshold score to print result.

That would be very usefull.

[2020-10-29 17:19] WyseNynja opened #34 "H/s only shows at the very start"
[code]

It shows H/s before finding the first key. Then it just shows "inf H/s". It's working though. It's using lots of CPU and after 535 seconds printed a second key. I think this is just a minor issue.

[2020-11-01 14:35] Incrediblez7 opened #35 "Strange kernel error on windows"
Trying to run profanity.exe from precompiled releases, but following error happened.
[code]

[2020-12-29 18:27] k06a opened #36 "Apple M1 Performance"
First of all, performance is pretty cool and MacBook Air M1 not started throttling and heating even after few minutes of bruteforcing private keys at speed 46 MH/s.

<img width="600" src="https://user-images.githubusercontent.com/702124/103305354-f894b600-4a1b-11eb-8732-341ac573dc37.png"/>

The only my concern is about 8 cores. It seems OpenCL discovered 8 CPU cores and not discovered another 8 GP

[2021-01-20 11:06] iwilliams89 opened #37 "Documentation to Build from source code"
could documentation be provided to build from source including project dependencies on windows 10 system

[2021-01-22 09:18] kanhavishva commented on #35
This error is caused by clCreateKernel function call in Dispatcher class, it is returning -46 which means CL_INVALID_KERNEL_NAME.
To solve this problem comment out some part of profanity.cpp file, this will force program to load opencl kernel from .cl files, so put these files keccak.cl and profanity.cl in same directory with program binary.
And change file profanity.cpp like this from line 283:

[2021-01-22 09:22] kanhavishva commented on #35
This error is caused by clCreateKernel function call in Dispatcher class, it is returning -46 which means CL_INVALID_KERNEL_NAME.
To solve this problem comment out some part of profanity.cpp file, this will force program to load opencl kernel from .cl files, so put these files keccak.cl and profanity.cl in same directory with program binary.
And change file profanity.cpp like this from line 283:

[2021-02-05 22:43] lebed2045 opened #38 "Creating context -33 error on windows"
![image_2021-02-06_00-41-54](https://user-images.githubusercontent.com/1270800/107096832-67400d00-682d-11eb-8e6f-199ee420679d.png)

* sorry for image, I didn't figure out how to copy stuff from the cmd on these windows machines...

[2021-02-19 20:42] gkucmierz opened #39 "Generating not correct privatekeys on MacBook"
[code]

<img width="341" alt="Zrzut ekranu 2021-02-19 o 21 38 19" src="https://user-images.githubusercontent.com/739084/108559130-3535ad00-72fb-11eb-937f-3f8b430b933c.png">

It is generating not correct addresses on this card:

`Intel UHD Graphics 630`

<img width="592" alt="Zrzut ekranu 2021-02-19 o 21 42 28" src="https://user-images.githubusercontent.com/739084/108559243-61512e00-72fb-11eb-91fc-

[2021-02-26 20:13] fw-aaron commented on #38
I also get this on Arch Linux. I see you have two GPUs. I do, too. I wonder if it's picking the wrong one...

[2021-02-26 21:04] fw-aaron commented on #38
Dude, I figured it out...well for me anyway. -33 means "invalid device". You need to figure out which device is invalid and SKIP it. `./profanity.x64 --benchmark -s 1;` did it for me because the second device was invalid. My clue that it was invalid is because the name (the part after `GPU1: `) was nonsense and it changed each time which tells me it was using uninitialized memory (a bug in the cod

[2021-02-28 18:24] fluke9 commented on #36
???
 GPU != CPU

[2021-03-16 14:53] allenday opened #41 "output multiple matches at same score level"
for example, keep outputting at score=15 until score=16 is achieved

[2021-03-16 14:53] allenday opened #42 "implement EIP-55 - case sensitivity"
https://github.com/ethereum/EIPs/blob/master/EIPS/eip-55.md

[2021-03-18 08:03] arian487 opened #43 "Allow up to N nonces for contract creation"
The current contract flag only uses the 0th nonce to check if a match is found but it would speed up a lot if you were to allow up to N nonces to be generated before generating a new wallet address to check.

[2021-04-04 14:17] NgVQuang commented on #43
0xFfAE7915C888DE11f5A76FB4dcCF9d065734C7d8

[2021-04-04 16:39] mohamedalichelbi opened #44 "[help wanted] error encountered when trying to run on old computer"
Hello,

I am trying to run profanity-v1.60 on my windows 10 Laptop, However I keep getting the following error:
` The procedure entry point clCreateCommandQueueWithProperties could not be located in the dynamic link library`

should I place in the project in a particular directory ? It's sitting in my Downloads folder for the Moment. At first I thought I'm missing OpenCL, but my drivers are up to

[2021-04-26 07:39] nnnnt21 opened #45 "Segmentation fault"
Hello I am getting a segmentation fault after running for a few hours. Using 8x 2080 TI's.
Using the args ./profianity.x64 --leading 0
On ubuntu 18.04
Anyone know?

[2021-04-27 01:37] #45 closed

[2021-04-27 01:38] nnnnt21 commented on #45
I think server I was using had some memory corruption. No longer getting this

[2021-04-29 03:52] Brucecarl commented on #39
I have the same issue,will this bug fixed?

[2021-04-29 03:55] Brucecarl commented on #39
I have the same issue.But in my mac, Intel UHD Graphics 630 can generate correct address while AMD generate error address!

[2021-05-07 03:22] HeroCrowe opened #47 "0x5a78f0a330092bf0c3d6cbd85712019329fc08ab"
Needed validation

[2021-05-08 23:09] #47 closed

[2021-05-10 05:44] colourful-land opened #48 "missing INSTALL.md or packages needed to compile"
On a Ubuntu set up, I can tell that opencl-c-headers are needed but not sure what other packages are required for compiling. Thanks.

[2021-05-24 00:24] CryptoGrogu opened #49 "Time and GPU needed"
HI,

how much time would you estimate for full custom address 40 characters ?
I have 4x2080ti 124gb ram 1tb nvme ssd xeon processor

Thank you =)

[2021-05-24 06:30] k06a commented on #49
@CryptoGrogu could you provide MH/s speed of each 2080ti? I will be glad to help you to estimate 😎

[2021-05-25 23:15] BarrowHill commented on #49
the problem is, johguse has died 2 years ago and now he cant fix his program. This program can't made cusom address, this program is just doing leading 0, leading f and notjing else. for example you cant create address with 0123456 for example, because there is no such function.

[2021-05-26 08:39] k06a commented on #49
@BarrowHill that's not true, you can use the following command to find address with desired prefix:
[code]

[2021-06-02 15:36] AK42 commented on #41
I'd like to do that too, the screenshot example shows that behaviour but I have no idea how to reproduce it.

[2021-06-04 20:54] GillesJ commented on #48
These are the steps on Ubuntu 20.04:
1. Install opencl dependencies: `apt-get install ocl-icd-opencl1 ocl-icd-opencl-dev opencl-headers`
2. Compile binary using Makefile: `cd ./profanity && make`
3. Make 'profanity.x64' executable: `chmod +x profanity.x64`
4. Run: `./profanity.x64` or `bash profanity.x64` if you're using an alternative shell.

Funnily enough the executable throws errors when I inv

[2021-06-10 19:02] Legend-of-iPhoenix opened #50 "Exits immediately."
Hello- upon launching profanity, it exits immediately. I'm on windows launching through cmd- it doesn't matter what command I use, it exits immediately regardless:
![image](https://user-images.githubusercontent.com/32944537/121582098-9d201880-c9fc-11eb-923a-350827342d13.png)

I did have something else running on my main gpu when I grabbed the screenshot, though this issue happens even if I do not.

[2021-06-14 12:45] kngspace commented on #50
Can you skip the intel 630, probably not bale to load the work for that gpu?

[2021-06-16 01:14] Legend-of-iPhoenix commented on #50
Ah good point; I just assumed it would use the first one on the list.

[2021-06-16 01:14] #50 closed

[2021-06-16 07:04] k06a commented on #36
@fluke9 I see 16 cores on processor and only 8 are utilised by OpenCL

[2021-06-21 16:17] SkyTradeInc commented on #49
@k06a can you share your method for estimating time to find a contract address

350 MH/s, how long to find for example 14 leading 0's?
any other insight will be extremely helpful

cheers!

[2021-06-21 16:45] k06a commented on #49
@SkyTradeInc sure. Finding X leading zeroes requires 2^(4*X) operations, 14 leading zeroes is 2^56 ≈ 64 * 10^15 ≈ 64,000,000,000 MH

Then divide MH by the 350 MH/s speed to know number of seconds ≈ 6.5 years

[2021-07-02 01:54] colourful-land commented on #48
In step 1 I got this (Yes I am on Ubuntu 20.04)

[code]

[2021-07-02 02:12] colourful-land opened #51 "std::runtime_error - failed to create kernel "profanity_init""
Dowload the precompiled profanity, it works fine, but self-compiled ones didn't:

# Downloaded binary

[code]

# Self-compiled:
[code]

[2021-07-02 14:25] Incrediblez7 commented on #51
Encountered exact same issue on Windows 10, but on precompiled.

[2021-07-05 11:21] colourful-land commented on #43
The following patch allows you to get contract addresses with nonce=1 instead of 0:

[code]

You need to delete the `cache-.*` file after applying the patch for it to be regenerated with the patched code. You can start from the binaries in [release](https://github.com/johguse/profanity/releases/tag/1.60) section. If you need nonce=𝑛, replace 1 with 𝑛.

To make it a parameter, such as

[code]

You

[2021-07-23 10:02] luckom65 opened #52 "launch STR error on RTX 2060"
I can't run the program on my computer ASUS with RTX 2060, i put benchmark -s 0 to avoid graphic card but the last version 1.60 of profanity doesn't work. Could someone addd a new vanity ethereum gpu version ?

[2021-07-23 10:07] luckom65 opened #53 "std::runtime_error - failed to create kernel "profanity_begin" RTX 2060"
I got this issue on RTX 2060 : std::runtime_error - failed to create kernel "profanity_begin" even when i put -s 0 to avoid wrong graphic just to keep rtx 2060

[2021-07-25 16:16] luckom65 commented on #35
i did that but it doesn't work

[2021-07-28 16:42] lebed2045 commented on #38
have done that, but now it fails with the same issue as here https://github.com/johguse/profanity/issues/51

[2021-07-28 18:05] fw-aaron commented on #38
I think that's a step up. Congratulations! Progress to #51. I'm guessing that's more of an OpenCL configuration issue.

I don't think this issue should be closed. The application reads from uninitialized memory...bad news.

[2021-08-03 17:58] auryn-macmillan commented on #26
Did this feature ever get merged?
It's still open and I don't see a create2 option in the README, but it looks to have been paid out on Gitcoin

[2021-08-12 08:41] easy2020i commented on #52
In my ASUS laptop with RTX 2070, the RTX gpu is at index 0 and Intel is at index 1
So, you need to skip 1 not 0

`profanity --matching b00b5 --skip 1`

☝ works just fine

[2021-08-12 08:46] luckom65 commented on #52
I tried but it doesn't work, maybe it's about file directory, can you write exacte command line you have written to launch program on windows ?

[2021-08-12 08:49] luckom65 commented on #52
C:\Users\33651>C:\Users\33651\Desktop\profanity-master\profanity.exe --matching de0 --skip 1
Mode: matching
Target: Address
Devices:
  GPU0: GeForce RTX 2060, 6442450944 bytes available, 30 compute units (precompiled = yes)

Initializing OpenCL...
  Creating context...OK
  Loading kernel from binary...OK
  Building program...OK

std::runtime_error - failed to create kernel "profanity_init"

I got

[2021-08-12 08:55] easy2020i commented on #52
Strange it works fine for me

You should see this result:
![prof](https://user-images.githubusercontent.com/75439352/129168498-5e0079c7-3116-49b0-a9d3-9ac418348a71.jpeg)

[2021-08-12 08:57] luckom65 commented on #52
Which file of profanity do you use ?

[2021-08-12 09:30] easy2020i commented on #52
- I dowloaded [this zip](https://github.com/johguse/profanity/releases/download/1.60/profanity-v1.60-x64.zip.zip)
- Extracted it
- then opened command line in that extracted folder
- ran `profanity --matching de0 --skip 1`

[2021-08-17 02:18] MasonBarnes commented on #51
Make sure you're running it in an administrator command prompt

[2021-08-17 10:17] du5 commented on #36
OpenCL has been deprecated, https://developer.apple.com/metal/

[2021-08-21 17:49] zlace0x commented on #36
Could you sharing instructions to run this on M1 mac?

[2021-08-21 17:56] k06a commented on #36
@zlace0x AFAIR `make` command compiled it successfully.

[2021-08-21 18:02] zlace0x commented on #36
Thanks, re-downloaded a fresh copy and building under rosetta works.

[2021-08-25 13:23] 0xGitGuy opened #55 "Do LHR rtx gpu limit throughput?"
Does LHR gpu suffer from reduced speed compared to the NON-LHR of the same gpu model?

[2021-09-19 23:35] luckom65 commented on #52
Can someone help me ? It doesn't Work on my Asus computer rtx 2060, i did what IS nécessaire even skip graphic card Intel, using only rtx 2060 ???

[2021-10-18 00:48] ctjlewis opened #56 "Simply find an address that starts with the input?"
This is legitimately the simplest possible use case, but it does not seem possible. `./profanity --leading` only reads a single first character, i.e. `--leading ABC` might return stuff like `aaaaaa42f...`.

Advice? Is there any way to just tell the program I want an address beginning with an arbitrary string?

[2021-10-19 09:22] NEYZERO commented on #56
./profanity --matching ABCXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

[2021-10-26 19:58] mindnumbe opened #57 "Option for scoring based on # of zero-bytes in address"
This tool is fantastic for finding gas efficient ethereum addresses and I typically use it with the form of `.\profanity --leading 0` for this purpose.

This outputs addresses like:
0x0000...
0x00000..
0x000000000...
All of which save significant amounts of gas through long term use.
However, gas efficiency on eth addresses is also driven through zero-bytes, not just leading zeros.

It'd be incred

[2021-10-26 22:29] #57 closed, assigned to nobody

[2021-10-31 12:04] its5Q commented on #55
No, LHR cards don't limit hashing performance, they only limit mining algorithms. For example, hashcat - a popular hash cracking software - has the same performance on LHR and non-LHR cards

[2021-10-31 14:37] 0xGitGuy commented on #55
@its5Q Thank you!

[2021-12-02 00:47] JMcpa opened #58 "Unable to run it on Windows 11"
I'm trying to run it in Windows 11, and its crashing as per attached ss. Kindly let me know if you've any suggestions to make it work.

![image](https://user-images.githubusercontent.com/95389821/144337386-947c0085-5cf4-46b6-9215-897a8409e291.png)

[2021-12-29 17:51] herenickname opened #59 "tasks and generated addresses mismatch"
root@vanity-v3:/home/ubuntu/profanity# ./profanity.x64 --mirror
Mode: mirror
Target: Address
Devices:
  GPU0: NVIDIA GeForce RTX 3090, 25447170048 bytes available, 82 compute units (precompiled = yes)
  GPU1: NVIDIA GeForce RTX 3090, 25447170048 bytes available, 82 compute units (precompiled = yes)
  GPU2: NVIDIA GeForce RTX 3090, 25447170048 bytes available, 82 compute units (precompiled = yes)

[2021-12-29 17:53] herenickname commented on #59
root@vanity-v3:/home/ubuntu/profanity# ./profanity.x64 **--numbers**
Mode: numbers
Target: Address
Devices:
  GPU0: NVIDIA GeForce RTX 3090, 25447170048 bytes available, 82 compute units (precompiled = yes)
  GPU1: NVIDIA GeForce RTX 3090, 25447170048 bytes available, 82 compute units (precompiled = yes)
  GPU2: NVIDIA GeForce RTX 3090, 25447170048 bytes available, 82 compute units (precompiled =

[2022-01-05 10:35] gpxl-dev commented on #41
@johguse are you still maintaining this library? Seems like this could potentially be a quick change if you know what you're looking for!

[2022-01-06 17:19] obelisk commented on #36
Running natively on an M1 Max 32-core GPU results in sustained 150MH

[2022-01-06 22:05] k06a commented on #36
@obelisk confirming same numbers for M1 Max 32-core 64GB (14")

[2022-01-09 22:59] GentilsTo commented on #22
Add the same issue, would suggest giving some hint of this in the readme in a small troubleshooting section maybe :)

[2022-01-17 08:50] k06a opened #61 "Private key safety"
Hi, could you elaborate on how private keys are being generated and brute forced? It seems like a reliable random number generator `std::mt19937_64` is being fully initialized by `unsigned int`, which could make it less reliable:
https://github.com/johguse/profanity/blob/75afbade7d4e8a54bd97b26249a84d2833a25b58/Dispatcher.cpp#L111

Seems like brute-forcing 2^32 seeds, each for a few seconds on top

[2022-01-18 05:52] ryley-o commented on #61
Agree here, should be seeded with 64 bits or else someone may be able to brute force 5-6-7 addrs, especially in the future.

[2022-01-20 21:16] k06a commented on #61
It seems that 1 GPU can do 7 symbols for 1 sec, this means 1000 GPUs can brute force all the 7-symbol vanity addresses in 50 days. This could cost a lot, but the reward could be higher. Moreover, the reward could be pre-estimated.

[2022-02-08 02:07] eyooooo commented on #35
bump!

[2022-02-25 22:56] Hurve opened #62 "Matching String Generation Outputting Incorrect Results"
When I do `profanity --matching deadc0ffee`, I expect for the program to continue to run this until it gets to an address starting with deadc0ffee. However, when I do it, I get a result where instantly at the beginning I get the address `0xdead1fff924c5c01c3ca6661c9b0f5acef2d785f` for example with a score of 3, which doesn't make sense because it has 7 characters matching. I also instantly get an

[2022-02-26 04:55] Hurve commented on #62
Update: I managed to get it to generate it after about 3000 seconds but I feel it is still notable because it could generate a string with all but 2 characters in 2 seconds. This would leave 225 more combinations and so should take 450 seconds, but it takes much longer, but I'll leave it at that.

[2022-02-26 04:55] #62 closed

[2022-03-03 16:58] mds1 commented on #27
@k06a Did you ever find a solution or workaround for this? This seems to be the case for me as well, where private keys do not derive to the addresses shown

[2022-03-03 19:37] mds1 commented on #27
Think I figured it out: I also have both an Intel and AMD GPU on my mac, and the AMD one seems to be the problem. If I run profanity with just the AMD GPU, keys do not match, and if I run it with just the Intel GPU, keys match

[2022-03-11 07:43] salian commented on #49
Approximately 10^32 years for the full 40 characters on that hardware.
Currently we are in 2022 so it should be done by the year 10000000000000000000000000002022.

[2022-03-28 14:15] PeppaCat opened #64 "No Device detected on RTX 3080"
Hi, I am running the pre-compiled program and also my manually built version on `ubuntu-18.04` with `RTX3080`.
[code]
However, devices cannot be detected when running the program.
[code]

Does anyone ever met this problem before?

[2022-03-28 14:20] PeppaCat commented on #64
Guys, I am using Docker. When I switch to the host, it works fine. Though still got confused why running in docker would fail. Anyway, closing this issue now.

[2022-03-28 14:20] #64 closed

[2022-03-29 12:42] Bu-Qi opened #65 "Can't run."
I'm trying to run it in Windows 11, and its crashing as per attached ss. Kindly let me know if you've any suggestions to make it work.

[2022-04-02 02:52] SES-xuelan opened #67 "Can't run on windows 10"
Looks like initialization failed
![微信截图_20220402105209](https://user-images.githubusercontent.com/7879439/161363058-b1cb6fab-21bd-45d2-b95c-d16e0ac5902b.png)

[2022-04-12 21:49] mdengler commented on #67
Runs fine for me on windows 10

[2022-04-15 08:08] i8088 opened #68 "How to match Whole all address ?"

[2022-04-15 08:11] i8088 commented on #68
How can I match whole  all ETH address  ?
For example   my adress 0x26352D20e6A05e04a1ecc75D4a43aE9989272510
I lost it private key

[2022-04-15 08:14] i8088 commented on #68
I try like this
profanity.exe --matching 26352D20e6A05e04a1ecc75D4a43aE9989272510
But it give me Irrelevant results

[2022-04-24 14:16] definevalue commented on #57
What is this other project because i've only ever seen this with GPU's for Ethereum if you dont mind me asking

[2022-05-04 03:12] iKunpw commented on #68
This is basically impossible

[2022-05-21 00:22] isp opened #69 "segmentation fault (core dumped)"
I'm running profanity via SSH. I've tried multiple instances through different providers and different GPUs, increase vCPUs ram etc and nothing seems to help this. After running for an hour or two I always end up get stuck with "segmentation fault (core dumped)".

[2022-06-07 06:02] web3engines opened #70 "Are there mnemonic words to generate?"
I would like to know if there are mnemonics generated and if so, how should I get them?

[2022-06-15 05:13] ef1m0ff commented on #58
--skip 1

[2022-06-15 05:14] ef1m0ff commented on #70
no way

[2022-06-25 05:16] TheBatmanIRL opened #71 "Can we store the output results directly into a csv?"

[2022-06-25 11:26] bobanm commented on #70
## Short answer

No, that would be a security risk.

## Detailed answer

Fortunately, that's not how BIP-39 hierarchical deterministic [HD] wallets work. This is the process in a nutshell:

1. generate _entropy_
1. generate a _mnemonic_ from the _entropy_ and its _checksum_, using a _wordlist_
1. generate a _seed_ from the _mnemonic_ and an optional _passphrase_
1. generate one or more _private ke

[2022-06-25 11:43] bobanm commented on #68
The whole security premise of crypto lies in the fact that you can't generate a private key from an address. Otherwise, anyone would be able to generate anyone else's private key, and the whole system would be a joke 🙂

Programs like profanity use brute force to find one of numerous private keys that corresponds to an address with a specific pattern. In theory, there are chances for you to brute f

[2022-07-13 15:10] heathdutton commented on #36
I suspect the benchmark is somehow misleading in the case of the M1.

Even though it scores less than a tenth of my PC, the timing of the results my M1 mini finds are very close. I can also leave profanity running in the background on the Mac and forget it's running, while the PC would heat up the room... I'm not sure why the mac seems to match so well. Perhaps a difference in compilers. Getting t

[2022-07-14 16:48] straightnun opened #72 "No Devices detected?"
For testing purposes i compiled the unaltered latest version of profanity with the makefile and got a profanity.x64 file as a result. When im trying to run this file through Windows CMD, or Ubuntu terminal, the programm doesnt seem to detect any Devices and execution is stopped.

[code]

Same goes for the version of profanity.x64 in the latest release, so its not something about the compile proces

[2022-07-15 07:42] Varjokettu opened #73 "Does not support Quadro P3200"
When I'm trying to run this on my laptop, it doesn't proceed.
Only gives this:

(c) Microsoft Corporation. All rights reserved.

G:\My Documents\OneDrive\Crypto\profanity-v1.60>profanity --matching dead
Mode: matching
Target: Address
Devices:
  GPU0: Quadro P3200, 6442450944 bytes available, 14 compute units (precompiled = no)
  GPU1: Intel(R) UHD Graphics 630, 13662744576 bytes available, 24 comp

[2022-07-21 20:50] straightnun commented on #57
@mindnumbe You say, the optimization was succesful - are you building on Windows, or Linux? Ive tried building the program (even without changing code), but cant get profanity,x64 to detect my GPU, while the "default program" (profanity.exe) is running perfect.

[2022-08-01 15:08] DeepMarsoniya commented on #73
I am getting same

[code]

[2022-08-01 15:17] DeepMarsoniya commented on #73
![image](https://user-images.githubusercontent.com/45826894/182182511-6998b994-27f1-4c90-bb06-a9df328106ed.png)

[2022-08-01 15:19] DeepMarsoniya opened #74 "Not working with Windows 11, NVIDIA GeForce GTX 1650 with Max-Q Design"
I tried to run in windows 11, NVIDIA GeForce GTX 1650 with Max-Q Design, but it's not working

`C:\Users\deepm\Downloads\profanity>profanity --leading f
Mode: leading
Target: Address
Devices:
  GPU0: NVIDIA GeForce GTX 1650 with Max-Q Design, 4294639616 bytes available, 14 compute units (precompiled = no)
  GPU1: Intel(R) UHD Graphics 630, 3370291200 bytes available, 24 compute units (precompiled

[2022-08-09 22:15] Ashwinning commented on #74
It detects 2 GPUs but fails to auto select the first one, try adding `--skip 1` to your arguments to skip the integrated GPU.
```profanity --skip 1 --leading f```

[2022-08-10 18:16] jaggedsoft commented on #41
I haven't tested this, but in theory you could edit profanity.cl and replace `profanity_result_update`:

[code]

[2022-08-14 08:12] kayu2kshow commented on #74
Same error with me on HP Spectre x360 Covertible 15-eb0xxx Intel(R) Core(TM) i7-10510U CPU @ 1.80GHz   2.30 GHz
![Screenshot 2022-08-14 091140](https://user-images.githubusercontent.com/40906337/184528312-1ca8eae5-a6be-47fc-b6ad-44b556a0d5dc.jpg)
![Screenshot 2022-08-14 091030](https://user-images.githubusercontent.com/40906337/184528316-d6d55528-3751-4c16-8d25-fd32c4f05c7e.jpg)
![Screenshot 2022-

[2022-08-14 10:51] kayu2kshow commented on #74
Working now but only when 1 adapter is disabled. Any fix for this?
![Screenshot 2022-08-14 115021](https://user-images.githubusercontent.com/40906337/184533469-42425e61-1bd3-4e2a-aeb8-ab755e72b835.jpg)
![Screenshot 2022-08-14 114925](https://user-images.githubusercontent.com/40906337/184533471-78dd9427-ae9d-4bc7-8a49-f9fbe8822bcf.jpg)

[2022-08-17 06:57] Ashwinning commented on #74
Your onboard GPU is showing up as GPU2.
With all GPUs enabled, you can try adding multiple skips like so:
```profanity --skip 1 --skip 2 --leading f```

[2022-09-15 07:19] pcaversaccio opened #75 "Add vulnerability note"
You should add a note in the `README` to the disclosed vulnerability: https://blog.1inch.io/a-vulnerability-disclosed-in-profanity-an-ethereum-vanity-address-tool-68ed7455fc8c

[2022-09-15 07:42] liamzebedee commented on #61
FUCK

[2022-09-15 10:53] johguse commented on #75
Fixed, and all binaries for releases have been removed as well to stop further unsafe use of this tool.

[2022-09-15 10:53] #75 closed

[2022-09-15 13:43] johnsaigle opened #76 "Mark project as archived"
According to the README this project is not receiving further support and it should not be used in its current state.

Marking the project as 'Archived' in the repo settings will add a warning at the top of the page and should help further reduce the risk that someone uses the tool.

[2022-09-15 13:44] #76 closed